@model SymulatorGierLosowych.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StoredLayout.cshtml";
}

<p>Wybierz Gatunek gry z listy aby wyświetlić gry tylko z danego gatunku.</p>


@foreach (var g in Model.GameGenres)
{
    <li>
        <a href="@Url.Action("List", "Game", new { id = g.GameGenreId })">@g.GenreName</a>
    </li>
}

<a href="@Url.Action("AddNewGame", "Game")">Dodaj nową grę</a>
