
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_StoredLayout.cshtml";
}

<h2>Kontakt</h2>

<div style="margin-top: 20px; line-height: 22px;">
Kontakt 

    Łukasz Kazimierczak
    lukasz.kazimierczak82@gmail.com


</div>

