
@{
    ViewBag.Title = "DuzyLotek";
    Layout = "~/Views/Shared/_StoredLayout.cshtml";
}

<h2>DuzyLotek</h2>

    Podaj ilość losów, nie może być więcej niż 100<br>

    <input type="number" placeholder="1" min="0" max="100" name="playslip" id="numbers">
    <input type="button" onclick="GetNumberOfPlayslip('button')" name="button" value="Akceptuj">
    <input type="button" onclick="GetNumberOfPlayslip('+')" name="+" value="+">
    <input type="button" onclick="GetNumberOfPlayslip('-')" name="-" value="-">
    <div id="id_number"></div>
    <br /><br />
    <div id="res"></div>
    <br />
    <div id="max"></div>
    <br />
    <script type="text/javascript">



        let count = 1;
        count = $("#numbers").val();
        let quantity = "";

        function GetNumberOfPlayslip(input)
        {
            if (input == "+")
            {
                count++;
                RenderCoupon(count);
                return;
            }
            if (input == "-")
            {
                count--;
                RenderCoupon(count);
                return;
            }

            if (input == "button")
            {
                count = $("#numbers").val();
                RenderCoupon(count);
                return;
            }
        }

        function RenderCoupon(quantity)
        {
            count = quantity;
            if (count < 100 & count >= 0) 
            {
                var res = "";
                var n = "";
                n += '<div style="float:left;">';
                for (var j = 1; j <= count; j++)
                {
                    var counter = 2;
                    n += '<div style="float:left;">';
                    for (var i = 1; i <= 49; i++)
                    {
                        //n = n + "<div> Hej co to jest?" + 100 + i + "</div>";
                        if (counter != 11)
                        {
                            n += '<div class="number" type="button" id="' + j + "|" + i + '" style="float:left; width:30px; text-align:right; cursor: pointer;" >' + i + '</div>';
                        }

                        if (counter == 11)
                        {
                            n += '<div class="number" type="button" id="' + j + "|" + i + '" style="float:left; width:30px; text-align:right; cursor: pointer;">' + i + '</div>';
                            n += '<div style="float:left; width:30px;"></div>';
                            n += '<br />';
                            counter = 1;
                        }
                        counter++;
                    }
                    n += '<br /><br />';
                    n += '</div>';
                }
                res = res + n;
                
            }
            n += '</div>';
            $("#numbers").val(count);
            $("#res").html(res);
        }

        let tab = [];
        let coupons_quantity = [];
        let coupons_quantity_copy = [];
        let flag = false;
        // Maksymlana ilość liczb na kuponie
        let max_numbers_on_the_coupon = 6;
        // 'body' jest potrzebne dla "zobaczenia" elementów dynamicznie załadowanych
        $('body').on('click', '.number', function ()
        {
            // CSS - zaznaczenie na kolor niebieski elementu
            $('.number').css("background-color", "");
            $(this).css("background-color", "#b3d7ff");

            // Zczytanie wartości Id zaznaczonego <div> 
            var id = $(this).attr('id');
            $('#id_number').html('Id wynosi: ' + id);

            // Dodanie zaznaczonych liczb do tablicy
            // zabezpieczenie przed powielaniem się wartości w tablicy (opakować później w funkcję)
            if (tab.indexOf(id) == -1)
            {
                console.clear();

                // Zliczanie ilości wylosowanych numerów (zabezpieczenie żeby nie było wiecej niż 6)
                var count = {};
                tab.forEach(function (i) { count[i] = (count[i] || 0) + 1; });
                console.log('ilosc numerow' + count);

                tab.push(id);
                
                // Szukanie ilości wprowadzonych liczb w danym losie
                
                var res = [];
                for (var i = 0; i < tab.length; i++)
                {
                    //res.push(tab[i].split("|"));

                    var new_res = tab[i].split(/(|)/);
                    res.push(new_res[0]);
                    console.log('new res' + new_res);

                }

                // przeszukuję tablicę w celu zliczenia wystąpień ilości zaznaczonych liczb na poszczególnych kuponach
                var max = res.length;
                var coupon_count = 0;
                console.log('res: ' + res);
                console.log('max: ' + max);
                var flag = false;

                // Zerowanie tablicy coupons_quantity
                for (var j = 0; j <= quantity; j++)
                {
                    coupons_quantity[j] = 0;
                }

                console.log('zerowanie' + coupons_quantity);


                // Analizowanie tablicy w celu wyłapania ilości klikniętych 
                for (var i = 1; i <= max; i++)
                {
                    for (var j = 0; j < max; j++)
                    {
                        if (i == res[j])
                        {
                            console.log('i jest rownowazne res[j] : i = ' + i + 'res[j] = ' + res[j]);
                            coupon_count++;
                        }
                    }

                    if (coupon_count > 0) {
                        coupons_quantity[i] = coupon_count;
                    }
                    coupon_count = 0;
                }
                console.log('coupon count : ' + coupons_quantity);
            } 
            else if (tab.indexOf(id) == 1)
            {
                return;
            }

            console.log('Id równa się = ' + id);
            console.log('tablica = ' + tab);

            var message = "";
            for (var j = 0; j <= coupons_quantity.length; j++)
            {
                console.log('analiza : j = ' + j + ' tablica = ' + coupons_quantity[j])
                if (coupons_quantity[j] > max_numbers_on_the_coupon)
                {
                    message = message + 'W losie: ' + j + ' - jest już maksymalna ilość liczb! <br />';
                }
                $('#max').html(message);
            }

        });

    </script>

<br />
<!-- <div id="myDiv">test</div -->
<br />

@*@{
    int how_many_games = 10;
}

<script>
    var games = @how_many_games;
</script>*@


@*<div>
        <input id="btnGetTime" type="button" value="games" onclick="GetNumber()" />
</div>*@

@*@{
    @:<div style="float:left;">
    // Walidacja wpisanej wartości
    for (int j = 0; j < 10; j++)
    {
        int counter = 2;
        @:<div style="float:left;">
        for (int i = 1; i <= 49; i++)
        {
            if (counter != 11)
            {
                <div class="btn-group" id="number-@i" style="float:left; width:30px; text-align:right">@i</div>
            }

            if (counter == 11)
            {
                <div class="btn-group" id="number-@i" style="float:left; width:30px; text-align:right">@i</div>
                @:<div style="float:left; width:30px;"></div>
                    <br />
                counter = 1;
            }
            counter++;
        }
        <br /><br />
        @:</div>
    }
    @:</div>
}*@
<br />

@*<div id="dat">naciśnij</div>*@

<br />




<script type="text/javascript">
    function GetNumber() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetNumber", "DuzyLotek")",
            success:function(data)
            {
                console.log(data.length);
                console.log(data);
                var result ="";
                for (var i = 1; i<data.length; i++)
                {
                    result = result + data[i].num_of_numbers +" "+ data[i].name + "<br />";
                }

                $('#dat').html(result);
                console.log(result);
            },
            error: function (error) {
                $('#dat').html("jakiś błąd");
            }
        });
    }

</script>



<script type="text/javascript">
    let zmienna = "jakiś tekst";
    $("#myDiv").css("border", "3px solid red");
    $("#myDiv").html(zmienna);

    $("#dat").click(function () {
        $("#myDiv").html(games);
    });

</script>

<script type="text/javascript">

    //$(document).ready(function () { // czeka aż dokument zostanie wczytany

    //$(".btn-group").on("click", function () {
    //    $(this).css("background", "red");
    //    var id = $(this).attr('id');
    //    console.log('Id równa się = ' + id);
    //});



        //$(".btn-group").click(function () {
        //    var id = $(this).attr('id');
        //    console.log('Id równa się = ' + id);
        //    $(this).toggleClass("green");
        //});

    //});







</script>