
@{
    ViewBag.Title = "DuzyLotek";
    Layout = "~/Views/Shared/_StoredLayout.cshtml";
}

<script src="~/Scripts/SeparationOfNumbersByATab.js"></script>
<script src="~/Scripts/ReturnExceedingNumbersToTable.js"></script>
<script src="~/Scripts/ClickedCouponNumber.js"></script>
<script src="~/Scripts/RenderCoupn.js"></script>

<h2>DuzyLotek</h2>

    Podaj ilość losów, nie może być więcej niż 100<br>

    <input type="number" placeholder="1" min="0" max="100" name="playslip" id="numbers">
    <input type="button" onclick="GetNumberOfPlayslip('button')" name="button" value="Akceptuj">
    <input type="button" onclick="GetNumberOfPlayslip('+')" name="+" value="+">
    <input type="button" onclick="GetNumberOfPlayslip('-')" name="-" value="-">
    <div id="messages"> Komunikaty</div>
    <br /><br />
    <div id="max"></div>
    <br /><br />
    <div id="res"></div>
    <br />
    <input type="button" onclick="GetNumbers_2_Param(6,49)" name="getnumbers" value="Duży Lotek">
    <input type="button" onclick="GetNumbers_2_Param(5,42)" name="getnumbers" value="Mini Lotek">
    <input type="button" onclick="GetNumbers_4_Param(5,50,2,10)" name="getnumbers" value="Euro">
    @*<input type="button" onclick="GetTest(5,50,2,10)" name="getnumbers" value="GetTest">*@
    <br />
    Wylosowane liczby
    <div id="dat"></div>
    <br />

    <script type="text/javascript">

        let count = 1;
        count = $("#numbers").val();
        let quantity = "";
        var numbersDiv = $("#numbers");
        var resDiv = $("#res");

        let tabOfDivIndexs = [];
        let resTable = [];
        let maxNumbersOnTheCoupon = 6;
        let changeColor = false;
        // Do tej tablicy zapisuję te kupony w których już wykorzystano maksymalną liczbę klikniętych numerów
        let couponLimitTable = [];
        let couponsQuantity;
        let anyNumberClicked = false;

        function GetNumberOfPlayslip(input) {
            if (anyNumberClicked == false) {
                //debugger;
                if (input == "+") {
                    count++;
                    RenderCoupon(count, numbersDiv, resDiv);
                    return;
                }
                if (input == "-") {
                    count--;
                    RenderCoupon(count, numbersDiv, resDiv);
                    return;
                }

                if (input == "button") {
                    count = $("#numbers").val();
                    RenderCoupon(count, numbersDiv, resDiv);
                    return;
                }
            }
            else if (anyNumberClicked == true) {
                $('#messages').html('Nie możesz dodać więcej losów po zaznaczeniu liczb, odśwież stronę.');
            }
        }

        // 'body' jest potrzebne dla "zobaczenia" elementów dynamicznie załadowanych
        $('body').on('click', '.number', function () {
            console.clear();
            anyNumberClicked = true;
            // Zczytanie wartości Id zaznaczonego <div>
            var id = $(this).attr('id');
            $('#messages').html('Id wynosi: ' + id);

            if (couponLimitTable[ClickedCouponNumber(id)] != true) {
                if (couponsQuantity != null) {
                    var message = "";
                    for (var j = 0; j <= couponsQuantity.length; j++) {
                        if (couponsQuantity[j] >= maxNumbersOnTheCoupon) {
                            couponLimitTable[j] = true;
                            $('#' + j).css("background-color", "#ffcccc");
                            
                        }
                    }
                }
            }

            // Dodanie zaznaczonych liczb do tablicy
            // TODO: zabezpieczenie przed powielaniem się wartości w tablicy (opakować później w funkcję)
            if (tabOfDivIndexs.indexOf(id) == -1) {
                // Nie pozwoli by dodać nową liczbę, jeżeli ilość wprowadzonych na kuponie przekroczy maksymalną dopuszczalną
                if (couponLimitTable[ClickedCouponNumber(id)] != true) {
                    tabOfDivIndexs.push(id);
                    console.log('tab of div indexs ' + tabOfDivIndexs);

                    // Rozdzielenie numeru losu od numeru na losie "|" i przypisanie wartości do tablic
                    resTable = SeparationOfNumbersByATab(tabOfDivIndexs, 2);

                    // CSS - zaznaczenie na kolor niebieski elementu
                    if (changeColor == true) {
                        $(this).css("background-color", "#ffbf80");
                        changeColor = false;
                    }
                    else if (changeColor == false) {
                        $(this).css("background-color", "#b3d7ff");
                        changeColor = true;
                    }
                }
            }
            else if (tabOfDivIndexs.indexOf(id) == 1) {
                return;
            }

            couponsQuantity = ReturnExceedingNumbersToTable(resTable, count, ClickedCouponNumber(id));
            console.log('res table ' + resTable);
            console.log('cupons quant ' + couponsQuantity);
            if (couponsQuantity[ClickedCouponNumber(id)] == maxNumbersOnTheCoupon) {
                $('#' + ClickedCouponNumber(id)).css("background-color", "#ffcccc");
            }
        });

        function GetNumbers_2_Param(x, y) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetNumbers2", "DuzyLotek")",
                data: { 'x': x, 'y': y },
                success: function (data) {
                    console.log('wielkosc tablicy ' + data.length);
                    console.log('tablica ' + data);
                    var result = "";
                    var dLenght = data.length;
                    $( "div.coupon" ).children().css( "border", "1px solid #FFFFFF" );

                    for (var i = 0; i <= dLenght; i++) {
                        if (i == dLenght - 1) {
                            result = result + data[i];
                            document.getElementById("1|" + data[i]).style.border = "1px solid #FF0000";
                            break;
                        }
                        result = result + data[i] + " , ";

                        // Bardzo ciekawa ciekawostka, nie działa zmiana tła elementu
                        // po Id w jquery a w javascipcie działa, pewnie chodzi
                        // o css...

                        //$("#1|40").css("background-color", "#ff0000");
                        document.getElementById("1|" + data[i]).style.border = "1px solid #FF0000";
                    }
                    $('#dat').html(result);
                    console.log(result);
                }
                ,
                error: function (error) {
                    $('#dat').html("jakiś błąd");
                }
            });
        }

        function GetNumbers_4_Param(x1, y1, x2, y2) {
            console.log("x1: " + x1 + "y1: " + y1, "x2: " + x2 + "y2: " + y2);
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetNumbers4", "DuzyLotek")",
                data: { 'x1': x1, 'y1': y1, 'x2': x2, 'y2': y2 },
                success: function (data) {
                    console.log(data);
                    console.log('wielkosc tablicy ' + data.length);
                    console.log('tablica ' + data);
                    var result = "";
                    result = "Pierwsza liczba: " + data.tab1 + " a Druga liczba: " + data.tab2;

                    $('#dat').html(result);
                    console.log(result);
                }
                ,
                error: function (error) {
                    $('#dat').html("jakiś błąd");
                }
            });
        }

        let zmienna = "jakiś tekst";
        $("#myDiv").css("border", "3px solid red");
        $("#myDiv").html(zmienna);

        $("#dat").click(function () {
            $("#myDiv").html(games);
        });
</script>
