
@{
    ViewBag.Title = "DuzyLotek";
    Layout = "~/Views/Shared/_StoredLayout.cshtml";
}

<script src="~/Scripts/SeparationOfNumbersByATab.js"></script>
<script src="~/Scripts/ReturnExceedingNumbersToTable.js"></script>
<script src="~/Scripts/ClickedCouponNumber.js"></script>

<h2>DuzyLotek</h2>

    Podaj ilość losów, nie może być więcej niż 100<br>

    <input type="number" placeholder="1" min="0" max="100" name="playslip" id="numbers">
    <input type="button" onclick="GetNumberOfPlayslip('button')" name="button" value="Akceptuj">
    <input type="button" onclick="GetNumberOfPlayslip('+')" name="+" value="+">
    <input type="button" onclick="GetNumberOfPlayslip('-')" name="-" value="-">
    <div id="id_number"></div>
    <br /><br />
    <div id="max"></div>
    <br /><br />
    <div id="res"></div>
    <br />
    <input type="button" onclick="GetNumbers()" name="getnumbers" value="getnumbers">
    <br />
    Wylosowane liczby
    <div id="dat"></div>
    <br />
    <script type="text/javascript">

        let count = 1;
        count = $("#numbers").val();
        let quantity = "";

        function GetNumberOfPlayslip(input)
        {
            if (input == "+")
            {
                count++;
                RenderCoupon(count);
                return;
            }
            if (input == "-")
            {
                count--;
                RenderCoupon(count);
                return;
            }

            if (input == "button")
            {
                count = $("#numbers").val();
                RenderCoupon(count);
                return;
            }
        }

        function RenderCoupon(quantity)
        {
            count = quantity;
            if (count < 100 & count >= 0) 
            {
                var res = "";
                var n = "";
                n += '<div style="float:left;">';
                for (var j = 1; j <= count; j++)
                {
                    var counter = 2;
                    n += '<div style="float:left;">';
                    for (var i = 1; i <= 49; i++)
                    {
                        //n = n + "<div> Hej co to jest?" + 100 + i + "</div>";
                        if (counter != 11)
                        {
                            n += '<div class="number" type="button" id="' + j + "|" + i + '" style="float:left; width:30px; text-align:right; cursor: pointer;" >' + i + '</div>';
                        }

                        if (counter == 11)
                        {
                            n += '<div class="number" type="button" id="' + j + "|" + i + '" style="float:left; width:30px; text-align:right; cursor: pointer;">' + i + '</div>';
                            n += '<div style="float:left; width:30px;"></div>';
                            n += '<br />';
                            counter = 1;
                        }
                        counter++;
                    }
                    n += '<br /><br />';
                    n += '</div>';
                }
                res = res + n;
                
            }
            n += '</div>';
            $("#numbers").val(count);
            $("#res").html(res);
        }

        let tabOfDivIndexs = [];
        let resTable = [];
        let maxNumbersOnTheCoupon = 6;
        let changeColor = false;
        // Do tej tablicy zapisuję te kupony w których już wykorzystano maksymalną liczbę klikniętych numerów
        let couponLimitTable = [];
        let couponsQuantity;

        // 'body' jest potrzebne dla "zobaczenia" elementów dynamicznie załadowanych
        $('body').on('click', '.number', function ()
        {
            console.clear();

            // Zczytanie wartości Id zaznaczonego <div> 
            var id = $(this).attr('id');
            $('#id_number').html('Id wynosi: ' + id);

            if (couponsQuantity != null)
            {
                var message = "";
                for (var j = 0; j <= couponsQuantity.length; j++)
                {
                    console.log('analiza : j = ' + j + ' tablica = ' + couponsQuantity[j])
                    if (couponsQuantity[j] == maxNumbersOnTheCoupon)
                    {
                        message = message + 'W losie: ' + j + ' - jest już maksymalna ilość liczb! <br />';
                        couponLimitTable[j] = true;
                        $(this).css("background-color", "#ffffff");
                    }
                    $('#max').html(message);
                }
            }

            // Dodanie zaznaczonych liczb do tablicy
            // zabezpieczenie przed powielaniem się wartości w tablicy (opakować później w funkcję)
            if (tabOfDivIndexs.indexOf(id) == -1)
            {
                // Nie pozwoli by dodać nową liczbę, jeżeli ilość wprowadzonych na kuponie przekroczy maksymalną dopuszczalną
                if (couponLimitTable[ClickedCouponNumber(id)] != true)
                {
                    tabOfDivIndexs.push(id);

                    // Szukanie ilości wprowadzonych liczb w danym losie
                    console.log('tablica 1 - numery: ' + SeparationOfNumbersByATab(tabOfDivIndexs, 1));
                    console.log('tablica 2 - kupony: ' + SeparationOfNumbersByATab(tabOfDivIndexs, 2));

                    // Rozdzielenie numeru losu od numeru na losie "|" i przypisanie wartości do tablic
                    resTable = SeparationOfNumbersByATab(tabOfDivIndexs, 2);
                    console.log('res table : ' + resTable);

                    // CSS - zaznaczenie na kolor niebieski elementu
                    console.log('couponlimit table - ' + couponLimitTable);
                    if (changeColor == true) {
                        $(this).css("background-color", "#ffbf80");
                        changeColor = false;
                    } else if (changeColor == false) {
                        $(this).css("background-color", "#b3d7ff");
                        changeColor = true;
                    }
                }
            } else if (tabOfDivIndexs.indexOf(id) == 1)
            {
                return;
            }

            console.log('Id równa się = ' + id);
            console.log('tablica = ' + tabOfDivIndexs);
            console.log('res table 2 : ' + resTable);

            couponsQuantity = ReturnExceedingNumbersToTable(resTable);
            console.log('coupons quantity : ' + couponsQuantity);

        });

    </script>

<br />
<!-- <div id="myDiv">test</div -->
<br />

@*@{
    int how_many_games = 10;
}

<script>
    var games = @how_many_games;
</script>*@


@*<div>
        <input id="btnGetTime" type="button" value="games" onclick="GetNumber()" />
</div>*@

@*@{
    @:<div style="float:left;">
    // Walidacja wpisanej wartości
    for (int j = 0; j < 10; j++)
    {
        int counter = 2;
        @:<div style="float:left;">
        for (int i = 1; i <= 49; i++)
        {
            if (counter != 11)
            {
                <div class="btn-group" id="number-@i" style="float:left; width:30px; text-align:right">@i</div>
            }

            if (counter == 11)
            {
                <div class="btn-group" id="number-@i" style="float:left; width:30px; text-align:right">@i</div>
                @:<div style="float:left; width:30px;"></div>
                    <br />
                counter = 1;
            }
            counter++;
        }
        <br /><br />
        @:</div>
    }
    @:</div>
}*@
<br />

@*<div id="dat">naciśnij</div>*@

<br />




@*<script type="text/javascript">
    function GetNumber() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetNumber", "DuzyLotek")",
            success:function(data)
            {
                console.log(data.length);
                console.log(data);
                var result ="";
                for (var i = 1; i<data.length; i++)
                {
                    result = result + data[i].num_of_numbers +" "+ data[i].name + "<br />";
                }

                $('#dat').html(result);
                console.log(result);
            },
            error: function (error) {
                $('#dat').html("jakiś błąd");
            }
        });
    }

</script>*@


<script type="text/javascript">
    function GetNumbers() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetNumbers", "DuzyLotek")",
            success:function(data)
            {
                console.log('wielkosc tablicy ' + data.length);
                console.log('tablica ' + data);
                var result = "";
                var dLenght = data.length;

                for (var i = 0; i < dLenght; i++)
                {
                    if (i == dLenght - 1)
                    {
                        result = result + data[i];
                        break;
                    }
                    result = result + data[i] + " , ";
                }

                $('#dat').html(result);
                console.log(result);
            },
            error: function (error) {
                $('#dat').html("jakiś błąd");
            }
        });
    }

</script>



<script type="text/javascript">
    let zmienna = "jakiś tekst";
    $("#myDiv").css("border", "3px solid red");
    $("#myDiv").html(zmienna);

    $("#dat").click(function () {
        $("#myDiv").html(games);
    });

</script>

<script type="text/javascript">

    //$(document).ready(function () { // czeka aż dokument zostanie wczytany

    //$(".btn-group").on("click", function () {
    //    $(this).css("background", "red");
    //    var id = $(this).attr('id');
    //    console.log('Id równa się = ' + id);
    //});



        //$(".btn-group").click(function () {
        //    var id = $(this).attr('id');
        //    console.log('Id równa się = ' + id);
        //    $(this).toggleClass("green");
        //});

    //});







</script>