
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AjaxExample</title>
</head>
<body>

    <br />
    <!-- <div id="myDiv">test</div -->
    <br />

    @*@{
            int how_many_games = 10;
        }

        <script>
            var games = @how_many_games;
        </script>*@


    @*<div>
                <input id="btnGetTime" type="button" value="games" onclick="GetNumber()" />
        </div>*@

    @*@{
            @:<div style="float:left;">
            // Walidacja wpisanej wartości
            for (int j = 0; j < 10; j++)
            {
                int counter = 2;
                @:<div style="float:left;">
                for (int i = 1; i <= 49; i++)
                {
                    if (counter != 11)
                    {
                        <div class="btn-group" id="number-@i" style="float:left; width:30px; text-align:right">@i</div>
                    }

                    if (counter == 11)
                    {
                        <div class="btn-group" id="number-@i" style="float:left; width:30px; text-align:right">@i</div>
                        @:<div style="float:left; width:30px;"></div>
                            <br />
                        counter = 1;
                    }
                    counter++;
                }
                <br /><br />
                @:</div>
            }
            @:</div>
        }*@
    <br />

    @*<div id="dat">naciśnij</div>*@

    <br />




    @*<script type="text/javascript">
            function GetNumber() {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetNumber", "DuzyLotek")",
                    success:function(data)
                    {
                        console.log(data.length);
                        console.log(data);
                        var result ="";
                        for (var i = 1; i<data.length; i++)
                        {
                            result = result + data[i].num_of_numbers +" "+ data[i].name + "<br />";
                        }

                        $('#dat').html(result);
                        console.log(result);
                    },
                    error: function (error) {
                        $('#dat').html("jakiś błąd");
                    }
                });
            }

        </script>*@


</body>
</html>
