
@{
    ViewBag.Title = "AddGameToDB";
    Layout = "~/Views/Shared/_StoredLayout.cshtml";
}
Wgrałem nową grę do bazy

            @ViewBag.name
            @ViewBag.genreid
            @ViewBag.description
            @ViewBag.e

<h2>AddGameToDB</h2>

